.media-table 
{
    margin-top: 2%;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.media-table td, th
{
    border: 2px solid #a3a3a3;
    padding: 12px;
}

.media-table tr:nth-child(even) 
{
    background-color: var(--list-accent2);
}

.media-table tr:nth-child(odd) 
{
    background-color: var(--list-accent1);
}

.botao-lista
{
    font-size: 120%;
}

.editar
{
    border: 5px solid var(--button-list-editar-border);
    border-radius: 5px;
    background-color: var(--button-list-editar-accent);
    padding: 5%;
}

.editar:hover,active
{
    border: 5px solid var(--button-list-editar-accent);
    border-radius: 5px;
    background-color: var(--button-list-editar-border);
    padding: 5%;
}


.remover
{
    border: 5px solid var(--button-list-remover-border);
    border-radius: 5px;
    background-color: var(--button-list-remover-accent);
    padding: 5%;
}

.remover:hover,active
{
    border: 5px solid var(--button-list-remover-accent);
    border-radius: 5px;
    background-color: var(--button-list-remover-border);
    padding: 5%;
}

.table-container 
{
    width: 100dvw;
    max-width: 100dvw;
    overflow-x: auto;
}

.container-body
{
    margin-bottom: 15%;
}