.media-table 
{
    margin-top: 2%;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.media-table td, th
{
    border: 2px solid #a3a3a3;
    padding: 12px;
}

.media-table tr:nth-child(even) 
{
    background-color: var(--list-accent2);
}

.media-table tr:nth-child(odd) 
{
    background-color: var(--list-accent1);
}

.botao-lista
{
    width: 100%;
    font-size: 116%;
}

.table-container 
{
    width: 100dvw;
    max-width: 100dvw;
    overflow-x: auto;
}